{% extends "base.html.twig" %}

{% block title %}Administration des Publications{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Gestion des Publications</h1>

        <a href="{{path("admin_posts_add")}}" class="btn btn-primary mt-3">Ajouter une publication</a>

        <table class="table table-bordered table-hover mt-3">
            <thead class="bg-primary text-white">
                <tr>
                    <td scope="col">ID</td>
                    <td scope="col">Titre</td>
                    <td scope="col">Catégories</td>
                    <td scope="col">Active</td>
                    <td scope="col">Modifier</td>
                    <td scope="col">Supprimer</td>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td scope="row">{{post.id}}</td>
                        <td>{{post.title}}</td>
                        <td>{{post.categories}}</td>
                        <td>

                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input post-active" {{ (post.active) ? 'checked' : ''}} data-id="{{post.id}}" id="switch-activate-post">
                                <label class="custom-control-label" for="switch-activate-post"></label>
                            </div>
                            
                        </td>
                        <td>
                            <a href="{{ path("admin_posts_update", {id:post.id}) }}" class="btn btn-success">
                                Modifier    
                            </a>
                        </td>
                        <td>
                            <a href="#" class="btn btn-danger modal-trigger-post" data-toggle="modal" data-target="#modal-delete" data-id="{{post.id}}" data-title="{{post.title}}">Supprimer</a>
                        </td>
                    </tr>            
                {% endfor %}
            </tbody>
        </table>
      
      </div>
    </div>
  </div>
    



<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Supprimer une publication</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-danger"><a href="">Supprimer l'annonce</a></button> 
      </div>
    </div>
  </div>
</div>
    
{% endblock %}

{% block javascripts %}

{{ parent() }}

    <script type="text/javascript" src="{{ asset('assets/js/admin/back.js') }}"></script> 

    
          
{% endblock %}